<ion-view title="{{areaname}}" id="page9" class=" ">
    <ion-nav-title>
      {{areaname}}
    </ion-nav-title>
    <ion-content padding="true" class="has-header">
        <div ng-show="correctanswer">
            <h1 id="AreaName2-heading4" style="color:#000000;text-align:center;" class=" ">Congratulations</h1>
            <p id="AreaName2-markdown4" style="color:#000000;" class=" ">You've sucessfully claimed this area</p>
            <h4 id="AreaName2-heading6" style="color:#000000;" class=" ">Tip unlocked:</h4>
            <p id="AreaName2-markdown6" style="color:#000000;" class=" ">{{claimedtip}}</p>
            <a ui-sref="tabsController.setQuestionForAreaName" id="AreaName2-button6" class=" button button-positive  button-block ">Set question</a>
        </div>
        <div ng-show="!correctanswer">
            <h1 id="AreaName2-heading5" style="color:#000000;text-align:center;" class=" ">Sorry :(</h1>
            <p id="AreaName2-markdown5" style="color:#000000;" class=" ">Your answer is incorrect, try again next time :)</p>
            <a ui-sref="tabsController.capture" id="AreaName2-button7" class=" button button-positive  button-block ">Back to map</a>
        </div>
    </ion-content>
</ion-view>