<ion-view title="Capture" id="page2" class=" ">
    <ion-nav-title>
      Capture
    </ion-nav-title>
    <ion-content padding="true" class="has-header">
        <!--<h1 id="capture-heading1" style="color:#000000;" class=" ">(Map with grid)</h1>-->
        <div id="map" data-tap-disabled="true"></div>
        <!--<div ng-show="entered">-->
	<div>
		<!--
        	<p id="capture-markdown2" style="color:#000000;font-size:16px;" class=" ">You've entered <p id="area-name">area</p> <p ng-if="!areaclaimed">an unclaimed area</p><p ng-if="areaclaimed">area claimed by {{areaentered.claimedby}}</p></p>
		-->

        	<p id="capture-markdown2" style="color:#000000;font-size:16px;" class=" ">You've entered <span id="area-name"></span> <p ng-if="!areaclaimed">an unclaimed area</p><p ng-if="areaclaimed">area claimed by {{claimedby}}</p></p>
	        <a ui-sref="" id="capture-button4" class="button button-positive button-block" ng-click="claim()">Claim this area!</a>
	 </div>
	 <!--<div ng-show"!entered">
	    	<p>You have not entered an area. (If your location is within an area, please wait for a while.)
	    	</p>
	 </div>-->
    </ion-content>
</ion-view>

<style type="text/css">
  html, body { height: 100%; margin: 0; padding: 0; }
  #map { height: calc(100% - 160px); }
  .scroll { height: 100%; }
</style>
