<ion-view title="Profile" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="profile-form9" class="list ">
            <label class="item item-input " id="profile-input10">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
            <a id="setQuestionForAreaName-button8" class=" button button-positive  button-block ">Update</a>
        </form>
        <h4 id="profile-heading8" style="color:#000000;" class=" ">Areas claimed:</h4>
        <h5 ng-repeat="area in areasclaimed">{{area}}</h5>
    </ion-content>
</ion-view>