<ion-view title="Set question for (Area name)" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="setQuestionForAreaName-form5" class="list ">
            <label class="item item-select " id="setQuestionForAreaName-select1">
                <span class="input-label">Question Type</span>
                <select ng-model="type.name">
                    <option>Building name</option>
                    <option>Shop</option>
                    <option>Street number</option>
                </select>
            </label>
        </form>

        <div  ng-if="type.name == 'Building name'">
            <form id="setQuestionForAreaName-form7" class="list ">          

                <p id="setQuestionForAreaName-markdown7" style="color:#000000;" class=" ">The question format will be: <br> What is the name of the building at the end of (street name)? <br>Fill in the street name below</p>

                <label class="item item-input " id="setQuestionForAreaName-input6">
                    <span class="input-label">Street name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="setQuestionForAreaName-input7">
                    <span class="input-label">Option 1</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="setQuestionForAreaName-input8">
                    <span class="input-label">Option 2</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="setQuestionForAreaName-input9">
                    <span class="input-label">Option 3</span>
                    <input type="text" placeholder="">
                </label>
            </form>
            <form id="setQuestionForAreaName-form8" class="list ">
                <label class="item item-input " id="setQuestionForAreaName-textarea1">
                    <span class="input-label">Reward tips</span><textarea placeholder=""></textarea>
                </label>
            </form>
            <a ui-sref="tabsController.capture" id="setQuestionForAreaName-button8" class=" button button-positive  button-block ">Submit</a>
        </div>
        <p id="setQuestionForAreaName-markdown8" style="color:#000000;" class=" " ng-if="type.name == 'Shop'">(Coming soon) The question format will be: <br> What is the name of the shop next to (building name)? <br> Fill in the building name below</p>
        <p id="setQuestionForAreaName-markdown9" style="color:#000000;" class=" " ng-if="type.name == 'Street nunber'">(>(Coming soon) The question format will be: <br> What is the street no. of (building name)? <br>Fill in the building name below</p>
    </ion-content>
</ion-view>