plugins
ios
android
/*.json~

*.json~
*.project~
/www/js/auth/*.js~
/www/js/*.swp
/www/*.html~
/node_modules
/*.xml~
/*.log
*.js~
*.swp
*.html~
/www/lib
lib
ionic
.io-config.json
*.json~
.io-config.json
*.json~
*.json~
*.json~
